.myForm {
  padding: 1.5em;
  background-color: rgb(233, 255, 134);
  display: flex;
  flex-direction: row-reverse;  
}

.mensaje {
  margin-left: 2em;
  display: flex;
  flex-direction: column;    
}

label[for="msg"] {
  text-align: center;  
}

#msg {
  flex-grow: 1;
}

.contact {  
  flex-grow: 1;
  display: flex;
  flex-direction: column;  
}

label[for="ciudad"] {
  text-align: center;
  color: red;
}

button {
  align-self: flex-end;
  margin-top: .5em;
  background-color: blue;
  padding: 1em .8em;
  color: white;
  border: 0;
}