body {
  display: flex;
  justify-content: center;  
}

.ficha.prime,
.ficha.segun {
  margin: 16px;
  padding: 8px;
  background-color: #e7e7e7;
  width: 9em;
  height: 19em;
  box-shadow: 6px 6px rgb(83, 80, 80);
  border-radius: 10%;
}

.punto {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 4px;
  background-color: #333;
  box-shadow: 5px 4px rgb(160, 140, 140);
}

.ficha.prime,
.ficha.segun {
  display: flex;
  flex-direction: column;
}

.cara-a {
  border-bottom: 4px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: auto;
}

.ficha.prime .cara-a .col:first-child {
  display: flex;
  justify-content: space-between;
}
.ficha.prime .cara-a .col:nth-child(2) {
  display: flex;
  justify-content: center;
}
.ficha.prime .cara-a .col:last-child {
  display: flex;
  justify-content: space-between;
}

.ficha.prime .cara-b {
  display: flex;
  justify-content: space-between;
  flex: auto;
}

.ficha.prime .cara-b .col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ficha.segun .cara-a {
  display: flex;
}

.ficha.segun .cara-a .punto:first-child {
  align-self: flex-start;
}
.ficha.segun .cara-a .punto:nth-child(2) {
  align-self: center;
}
.ficha.segun .cara-a .punto:last-child {
  align-self: flex-end;
}

.ficha.segun .cara-b {  
  flex: auto;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ficha.segun .cara-b .punto:last-child {
  align-self: flex-end;
}