
@{
    ViewBag.Title = "Index";
}

<h2>Hola mundo desde la vista de index del controlador de home</h2>

<ul>
  <li>@Html.ActionLink("Home", "Index", "Home")</li>
  <li>@Html.ActionLink("Lista de productos", "Index", "Product")</li>
  <li>@Html.ActionLink("Crear producto", "Create", "Product")</li>
</ul>

